* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* background-color: #1E0342; */
    /* background-color:rgb(22, 92, 213); */
    background-color: #090809 3423A6 3E92CC;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(219, 219, 219);
    /* transition: 1s ease; */
}

header {
    /* background-color: #190690; */
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
}

.up-header {
    background-color: #190690;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;
}

.logo {
    width: 25%;
    text-align: start;
    display: flex;
    align-items: center;
}

.l-logo {
    text-transform: uppercase;
    /* color: whitesmoke; */
    color: #FCFCFC;
    font-weight: 600;
    font-size: xx-large;
}

.r-logo {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: xx-large;
    top: 85px;
    left: 35px;
    /* display: none; */
    transition: .35s ease;

    transform: rotateX(90deg);
}

.l-logo:hover>.r-logo {

    transform: rotateX(0deg);
    font-size: xx-large;
    display: block;
    transition: .8s ease;

}


.l-nav {
    width: 50%;
    /* margin-right: 120px; */
    /* transition: .3s ease; */
}

.l-nav a {
    text-decoration: none;
    color: #FCFCFC;
    text-transform: capitalize;
    padding-left: 25px;
    /* font-weight: bold; */
    font-size: x-large;
    transition-duration: 0.35s;

}

.l-nav a:hover {
    color: rgb(22, 92, 213);
    /* padding-left: 50px; */
    /* font-weight: bold; */
    font-size: xx-large;
    transition-duration: 0.75s;
}

.r-nav {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.header-icon {
    margin: 10px;
    padding-top: 2px;
    border: 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: x-large;
    color: white;
}

.menu {
    display: none;
    font-size: x-large;
}




.mobile-menu {

    /*position: absolute; */
    position: relative;
    /* top: -500px; */
    transform: translateY(-500px);
    width: 95%;
    /* height: 100vh; */
    height: fit-content;
    background-color: #0088fd;
    /* transform: rotateY(0deg); */
    transform-origin: top right;
    z-index: -1;
    margin-top: 5px;
    margin-left: 9px;
    border-radius: 21px;
    opacity: 1;
    transition: 1s;
    /* display: none; */
    visibility: hidden;
}

.mobile-menu.active {
    /* transform: rotateY(90deg); */
    /* background-color: white; */
    /* opacity: 0; */
    /* top: 0px; */
    visibility: visible;
    transform: translateY(0px);

}




.nav-menu {
    /* border: 1px solid; */
    transform-origin: top right;
    display: flex;
}

.nav-menu i {
    padding-left: 20px;
}

.mobile-menu a {
    color: black;
    /* display: block; */
    text-align: start;
    font-size: large;
    padding: 15px;
    /* border-bottom: 2px solid white; */
}



/* .mobile-menu div{
    position: relative;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.icon-menu {
    display: flex;
    justify-content: center;

}

.icon-menu a {
    border: none;
}

/* .contact-menu{
    height: 100px;
}

.contact-menu a{
    color: black;
    font-size: xx-large;
    padding: 15px;
} */


.h-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0px 100px 50px;
    /* background-color: #005BE3; */
    background-color: rgba(0, 0, 0, .4);
}

.bg-video {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}




.title {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    padding: 30px 0px;
    text-transform: capitalize;
}

.h-details h2 {
    font-size: 40px;
    color: white;
}



.h-details h2 span:first-of-type {
    font-size: 45px;
    /* color: rgb(204, 204, 204) ; */
    color: rgb(31 0 222);
    /* margin-left: 5px; */
}

.h-details h2 span:last-of-type {
    font-size: 120px;
    /* color: darkblue ; */
    color: rgb(31 0 222);
    /* margin-left: 5px; */
}

.h-details h2 p {
    font-size: 20px;
    /* color: darkblue ; */
    /* margin-left: 5px; */
    margin-left: 40px;
}


/* .dev-anim:hover >.dot  {
    position: relative;
    animation-name: dot-anim;
}

/* .dot  {
    position: absolute;
    transform: translate(-50%,-50%);
} */

@keyframes dot-anim {
    0% {
        transform: translate(85%, 186%);
    }

    25% {
        transform: translate(1430%, 186%);
    }

    50% {
        .dot::after {
            content: " ";
            width: 20px;
            height: 20px;
            background-color: rgb(31 0 222);
        }
    }

    75% {}

    100% {}
}

*/ .skills {
    background-color: #F5F5F5;
}

.all-skills {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: nowrap;
}



.dev-anim:hover>span {
    color: #FCFCFC;
}








.skills h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
    color: #190690;
}

.skills h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: #FCFCFC;
    font-size: x-large;

}

.skills h4 {
    /* text-align: center; */
    margin: 5px;
    color: #FCFCFC;

}

.related,
.none-related,
.soft {

    width: 100%;
    margin: 60px auto;
    color: #FCFCFC;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    margin: 25px;
    background-color: darkblue;


}


.bar {
    display: block;
    background-color: #77a9f1;
    height: 22px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

}

.bar span {
    display: block;
    height: 20px;
    background-color: blue;
    border-radius: 5px;
}

.html {
    display: inline;
    width: 70%;
}

.css {
    width: 60%;
}

.c {
    width: 50%;
}

.python {
    width: 60%;
}

.sql {
    width: 70%;
}

.blender {
    width: 75%;
}

.unity {
    width: 75%;
}

.unreal {
    width: 40%;
}

.photoshop {
    width: 30%;
}

.illustrator {
    width: 55%;
}

.communication {
    width: 60%;
}

.teamwork {
    width: 80%;
}

.solving {
    width: 60%;
}

.adaptability {
    width: 85%;
}



.project {
    padding: 30px 20px;
    background-color: #0404a6;
}

.project-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px rgba(1, 1, 1, 1.5);
    background-color: #00008b;
}

.p-item {
    min-height: 150px;
    /* border: 1px solid; */
    /* border-radius: 15px; */
    /* overflow: hidden; */
    margin: 20px;
    position: relative;
    transition: 2s ease;
}

.p-item span {
    background-color: rgb(0 0 0 / 65%);
    color: #FCFCFC;
    position: absolute;
    /* display: block; */
    /* display: none; */
    width: 400px;
    height: 220px;
    top: 0;
    font-size: large;
    font-weight: 600;
    opacity: 0;
    transition: .5s ease;
}

.p-item span a {
    color: #FCFCFC;

}

.p-item h4 {
    text-align: center;
    text-shadow: 15px 15px 3px rgba(1, 1, 1, .50);

}

.p-item span .view-btn {
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -240%);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.p-item span p {
    color: #FCFCFC;
    width: fit-content;
    height: fit-content;
    border: 1px solid;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.p-item:hover>span {
    opacity: 1;
    transition: .5s ease;
}

.p-item p {
    text-align: center;
    padding: 5px;
}

.p-item img {
    width: 400px;
    height: 220px;
    /* border-bottom: 2px solid; */
    box-shadow: 15px 15px 8px rgba(1, 1, 1, .50);
}



.project-item h3 {
    text-align: center;
}



.project-picture img {
    width: 100%;
    height: 200px;
    /* border-bottom: 3px solid; */
}




.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    padding: 20px;
    /* background-color:#F5F5F5; */
}

.contact a {
    color: black;
}

.contact-item {

    /* color: blue; */

    display: flex;
    height: 25px;
    padding: 20px;
    margin: 15px 15px;
    align-items: center;
}

.contact-icon {
    margin-right: 17px;

    display: flex;
    height: 25px;
    border-radius: 15px;
    /* background-color: blue; */
    background-color: #0505e4;
    padding: 20px;
    margin: 15px 15px;
    align-items: center;
}

.contact-info a {
    color: rgb(0, 0, 0);
    font-size: large;
}

.contact h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkblue; */
    background-color: #190690;
    height: 60px;
    font-size: x-large;
}

.l-footer,
.r-footer {
    padding: 10px 30px;
}

.footer-span {
    text-transform: uppercase;
    margin: 0px 10px;
    color: #FCFCFC;
    font-weight: 600;
    font-size: x-large;

}

.l-footer-small {
    display: none;
}



@media (max-width: 1200px) {
    .h-details h2 {
        font-size: 40px;
    }

    .h-details h2 span:first-of-type {
        font-size: 45px;
    }

    .h-details h2 p {
        font-size: 20px;
        margin-left: 40px;
    }

    .h-details h2 span:last-of-type {
        font-size: 120px;
    }


    .all-skills {
        flex-wrap: nowrap;
    }

    .footer-span {
        font-weight: 600;
        font-size: x-large;

    }


    footer {
        height: 60px;
    }
}


@media (max-width: 1109px) {

    .l-logo {
        font-size: 21px;
        ;
    }

    .l-nav {
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-icon {
        width: 35px;
        height: 35px;
        font-size: large;
    }

    .l-nav a {
        font-size: large;
    }

    .l-nav a:hover {
        font-size: x-large;
    }

    .h-details h2 {
        font-size: 30px;
    }

    .h-details h2 span:first-of-type {
        font-size: 35px;
    }

    .h-details h2 p {
        font-size: 15px;
        margin-left: 30px;
    }

    .h-details h2 span:last-of-type {
        font-size: 90px;
    }



    .all-skills {
        flex-wrap: wrap;
    }

    .footer-span {
        font-weight: 600;
        font-size: x-large;

    }

    footer {
        height: 62px;
    }

}

@media (max-width: 890px) {

    .l-logo {
        font-size: 21px;
    }


    .h-details h2 {
        font-size: 25px;
    }

    .h-details h2 span:first-of-type {
        font-size: 30px;
    }

    .h-details h2 p {
        font-size: 12.5px;
        margin-left: 30px;
    }

    .h-details h2 span:last-of-type {
        font-size: 75px;
    }



    .all-skills {
        flex-wrap: wrap;
    }



    .footer-span {
        font-weight: 600;
        font-size: large;

    }

    footer {
        height: 48px;
        font-size: large;
    }
}

@media (max-width: 780px) {

    .menu {
        display: block;
    }

    .header-icon,
    .l-nav {
        display: none;
    }

    .logo {
        width: 65%;

    }

    .h-details h2 {
        font-size: 20px;
    }

    .h-details h2 span:first-of-type {
        font-size: 25px;
    }

    .h-details h2 p {
        font-size: 10px;
        margin-left: 15px;
    }

    .h-details h2 span:last-of-type {
        font-size: 55px;
    }




    .all-skills {
        flex-wrap: wrap;
    }

    .footer-span {
        font-weight: 600;
        font-size: large;

    }

    footer {
        height: 48px;
        font-size: small;
    }

    /* .l-footer , .r-footer{
        padding: 3px 3px;
    } */
}


@media (max-width: 575px) {


    .contact-info {
        font-size: smaller;
    }

    /* .skills{
        height: 100vh;
    } */

    .p-item img {
        width: 294px;
        height: 175px;
    }



    .p-item span {
        width: 296px;
        height: 176px;
        font-size: small;
    }

    .footer-span {
        font-weight: 600;
        font-size: large;
        margin: 0;

    }


    footer {
        height: 47px;
        font-size: small;
    }

    .l-footer,
    .r-footer {
        padding: 10px 5px;
    }

    .contact-info a {
        font-size: medium;
    }

    .contact-icon {
        border-radius: 10px;
        padding: 15px;
    }
}

@media (max-width: 445px) {

    .l-footer-small,
    .r-footer {
        padding: 5px 20px;
    }

    .l-footer {
        display: none;
    }

    .l-footer-small {
        display: block;
    }
}












@media (max-width: 768px) {}

@media (max-width: 0px) {}